<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
<h1 class="display-4 fw-normal text-body-emphasis"><%= image_tag "guardiant.svg" %></h1>
<p class="fs-5 text-body-secondary">ようこそGuardiantへ！！<BR>当アプリでは３つの機能が利用できます。<BR>サイドバーか下のリンクよりご利用ください。</p>
</div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">災害時、どこへ？<BR>あなたの避難マップ作成</h4>
          </div>
          <div class="card-body">
          <small class="text-body-secondary fw-light">現在登録されている地図</small><h1 class="card-title pricing-card-title"><%= @maps.count %></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>地震や洪水が発生したとき安全な避難場所を知っていますか？</li>
              <li>この機能を使って自治体の発表している避難場所を把握しましょう。</li>
              <li>使い方は簡単です。入力フォームに住所を入力するだけ！</li>
              <li>入力された住所を中心に洪水・地震・津波・火災発生時に安全な避難場所を地図上に表示することができます。</li>
            </ul>
            <%= link_to maps_path, class: "w-100 btn btn-lg btn-outline-primary", data: {"turbolinks" => false}  do %>
              <i class="bi bi-binoculars-fill" aria-hidden="true"></i>
              さっそく避難場所を検索する！
            <% end %>   
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">災害に負けない！<BR>あなたの備蓄ガイド</h4>
          </div>
          <div class="card-body">
          <small class="text-body-secondary fw-light">現在登録されているメンバー</small>
          <h1 class="card-title pricing-card-title"><%= @families.count %></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>天災時に水や食料が入手できなくなっても大丈夫な備蓄量はどれくらいでしょうか？</li>
              <li>この機能を使って必要な備蓄量を把握しましょう。</li>
              <li>使い方は簡単です。必要な人数とその属性を入力するだけ！</li>
              <li>情報を入力することで備蓄を必要とする人を登録することができます。</li>
              <li>登録された人に応じて必要な備蓄量を表示されます。</li>
            </ul>
            <%= link_to families_path, class: "w-100 btn btn-lg btn-outline-primary", data: {"turbolinks" => false} do %>
              <i class="bi bi-calculator-fill" aria-hidden="true"></i>
              さっそく必要な備蓄量を計算する！
            <% end %>   
          </div>
        </div>
      </div>
      <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">備蓄品消費期限アラート！<BR>通知で期限切れを回避</h4>
        </div>
        <div class="card-body">
        <small class="text-body-secondary fw-light">登録されている物資</small><h1 class="card-title pricing-card-title"><%= @stockpiles.count %></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>防災備蓄をしても必要なときに消費期限が切れていたら意味がありません。</li>
            <li>この機能を使って防災備蓄の消費期限を管理しましょう。</li>
            <li>使い方は簡単です。備蓄品の名前と消費期限・通知して欲しい日を登録するだけ！</li>
            <li>登録をした通知日に消費期限が迫っていることをメールで通知してくれます！</li>
            <li>消費期限と通知日を登録せずに防災備蓄品の管理をするために利用することもできます。</li>
          </ul>
          <%= link_to stockpiles_path, class: "w-100 btn btn-lg btn-outline-primary", data: {"turbolinks" => false} do %>
            <i class="bi bi-envelope-fill" aria-hidden="true"></i>
            さっそく期限アラートを利用する！
          <% end %>   
        </div>
      </div>
    </div>
    </div>