<h2>ユーザー情報変更画面</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(パスワードを変えない場合は空白のままにしてください)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:'半角六文字以上' %>
    <% if @minimum_password_length %>
      <br />
      <em>半角6文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:'半角六文字以上' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>変更をするために現在のパスワードを入力してください</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder:'使用中のパスワード' %>
  </div>

  <div class="actions">
    <%= f.submit "変更する" %>
  </div>
<% end %>
<BR>
<h3>アプリの使用をやめる</h3>

<p>ユーザーを削除したい方は下のボタンを押してください <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
