<%= form_with(model: map) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
  <%= form.label :address %>
  <%= form.text_field :address, id: "address", :placeholder=> "大字まで入力" %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: "map_latitude" %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: "map_longitude" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
