<% if @map.errors.any? %>
  <div id="error_explanation">
    <h2><%= @map.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @map.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<figure class="text-center">
  <blockquote class="blockquote"> 
    <%= image_tag "title/maps.svg", class: 'display-1' %>
  </blockquote>
  <figcaption class="blockquote-footer">
    <p>住所を入力すると周辺の避難場所が表示されます</p>
  </figcaption>
  </figure><BR><BR>

<%= render 'form' %>
<BR>
<% @maps.each do |map| %>
  <% if map.latitude.present? && map.longitude.present?%> 
  <figure class="figure">
    <style>
      .geolonia {
        width: 100vh;
        height: 80vh;
      }
    </style>
    <div   class="geolonia"
      data-lat="<%= map.latitude %>"
      data-lng="<%= map.longitude %>"
      data-zoom="15"
      data-geojson="https://ogura820.github.io/map_api/default_point.json">
    </div>

  <figcaption class="figure-caption">
    <td><%= map.name %>
    <%= link_to map , class: "btn btn-secondary" do %>
      <i class="bi bi-map" aria-hidden="true"></i> 拡大表示
      <% end %>  
    <%= link_to  map, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" do %>
      <i class="bi bi-x-lg" aria-hidden="true"></i> 削除
    <% end %>  
    </figcaption>
    </figure>
  <% end %>
<% end %>