<% if @map.errors.any? %>
  <div id="error_explanation">
    <h2><%= @map.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @map.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<figure class="text-center">
  <blockquote class="blockquote"> 
    <%= image_tag "title/maps.svg", class: 'display-1' %>
  </blockquote>
  <figcaption class="blockquote-footer">
    <p>住所を入力すると周辺の避難場所が表示されます</p>
  </figcaption>
  </figure><BR><BR>
<%= render 'before_manual' unless @maps.present? %>
<h3>避難場所一覧</h3><%= render 'form' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>地図の中心</th>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
        <tr>
          <td><%= map.name %></td>
          <td> 
            <%= link_to map , class: "btn btn-secondary", data: {"turbolinks" => false} do %>
            <i class="bi bi-map" aria-hidden="true"></i> 地図表示
            <% end %>  
          </td>
          <td>
            <%= link_to  map, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" do %>
              <i class="bi bi-x-lg" aria-hidden="true"></i> 削除
            <% end %>  
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
