<%= render 'manual' %>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<style>
  .geolonia {
    width: 100vh;
    height: 80vh;
  }
</style>
<div   class="geolonia"
  data-lat="<%= @map.latitude %>"
  data-lng="<%= @map.longitude %>"
  data-zoom="15"
  data-geojson="https://ogura820.github.io/map_api/default_point.json">
</div>

<%= link_to 'Back', maps_path %>
