<figure class="text-center">
  <div class="d-none d-md-block">
    <blockquote class="blockquote"> 
      <%= image_tag "title/stocks_mangement.svg", class: 'display-1' %>
    </blockquote>
  </div>
  <div class="d-block d-md-none">
  <blockquote class="blockquote"> 
    <%= image_tag "title/stocks_mangement_mobile.svg", class: 'display-1' %>
  </blockquote>
</div>
  <figcaption class="blockquote-footer">
    <p>備蓄物資の消費期限・通知日を登録してメールで通知を受け取れます</p>
  </figcaption>
  </figure>
<BR>

<% if @stockpile.errors.any? %>
  <div id="error_explanation">
    <h2><%= @stockpile.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @stockpile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'manual' %> <BR>

<%= render 'form' %> 
<BR><BR>
<%= search_form_for @q, url: stockpiles_path do |f| %>
  <%= f.label :name_cont, '物資名' %>
  <%= f.search_field :name_cont %>
  <%= f.submit '検索' %>
<% end %>
<BR>


<h3>消費期限切れ物資一覧</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>物資名</th>
      <th><%= sort_link(@q, :expiry_on, "消費期限") %></th>
      <th><%= sort_link(@q, :notice_on, "通知日") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stockpiles.each do |stockpile| %>
      <% if stockpile.name.present? && stockpile.expiry_on && stockpile.expiry_on.to_date < Time.now.to_date %> 
        <tr>
          <td><%= stockpile.name %></td>
          <td><%= stockpile_strftime_text(stockpile.expiry_on) %></td>
          <td><%= stockpile_strftime_text(stockpile.notice_on) %></td>
          <td> 
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal<%= stockpile.id %>">
            <i class="bi bi-pencil-fill" aria-hidden="true"></i>
            <div class="d-none d-md-block"> 編集</dv>
            </button>
            <%= render 'edit', stockpile: stockpile %>  
          </td>
          <td>
            <%= link_to  stockpile, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" do %>
              <i class="bi bi-x-lg" aria-hidden="true"></i>
              <div class="d-none d-md-block"> 削除</div>
            <% end %>  
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<BR><BR><BR>
<h3>消費期限前物資一覧</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>物資名</th>
      <th><%= sort_link(@q, :expiry_on, "消費期限") %></th>
      <th><%= sort_link(@q, :notice_on, "通知日") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stockpiles.each do |stockpile| %>
      <% if stockpile.name.present? && (stockpile.expiry_on.nil? || stockpile.expiry_on.to_date >= Time.now.to_date) %>

        <tr>
          <td><%= stockpile.name %></td>
          <td><%= stockpile_strftime_text(stockpile.expiry_on) %></td>
          <td><%= stockpile_strftime_text(stockpile.notice_on) %></td>
          <td> 
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal<%= stockpile.id %>">
              <i class="bi bi-pencil-fill" aria-hidden="true"></i>
              <div class="d-none d-md-block"> 編集</div>
            </button>
            <%= render 'edit', stockpile: stockpile %>  
          </td>
          <td>
            <%= link_to  stockpile, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" do %>
              <i class="bi bi-x-lg" aria-hidden="true"></i>
              <div class="d-none d-md-block"> 削除</div>
            <% end %>  
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

