<h2>必要備蓄量目安</h2>
<%= link_to "必要備蓄量をメールで受け取る", families_path(sent_mail: "true")%>

  <table class="table table-striped" >
  <thead>
    <tr>
      <th>名前</th>
      <th>必要量</th>
      <th>一人当たり必要量</th>
      <th>年齢を考慮した必要量</th>
    </tr>
  </thead>
  <tbody>
  <tr>
  <% @calculate_stocks.each do |key, value| %>
    <tr>
    <td><img src="<%= value[:画像] %>" class="icon"><%= key %></td>
      <td><%= value[:計算量] %><%= value[:単位] %></td>
      <td><%= value[:一人分] %><%= value[:単位] %></td>
      <% total_calculation = value[:一人分] * @coefficient %>
      <td><%= total_calculation.to_i %><%= value[:単位] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
その他、調味料インスタント味噌汁や即席スープ、野菜ジュースがあるとよい
https://www.maff.go.jp/j/zyukyu/foodstock/attach/pdf/guidebook-3.pdf