<h2>備蓄算出用メンバー</h2>
  必要な水の量は<%= @families.count * 2 %>
  必要な米の量は    
  <% sex_coefficient = 1.0 %>
  <% age_coefficient = 1.0 %>
  <% @families.each do |family| %>
    <% sex_coefficient += case family.sex %>
      <% when '男性' then 1.2 %>
      <% when '女性' then 0.8 %>
    <% else 1 %>
    <% end %>
    <% age_coefficient += case family.age %>
      <% when 0..6 then 0.5 %>
      <% when 7..13 then 0.8 %>
      <% when 14..18 then 1.0 %>
      <% when 19..64 then 1.2 %>
      <% else 0.5 %>
    <% end %>
  <% end %>
  <%= 2 * sex_coefficient * age_coefficient %>

<h2>備蓄算出用メンバー</h2>
<%= render 'form' %> 現在メンバーは<%= @families.count %>人です
<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>年齢</th>
    </tr>
  </thead>
  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %></td>
        <td><%= image_tag family.icon_image, class: 'icon' %><%= family.age %>歳</td>
        <td>
          <%= link_to  edit_family_path(family), class: "btn btn-success" do %>
            <i class="bi bi-pencil-fill" aria-hidden="true"></i>編集
          <% end %>  
        </td>
        <td>
            <%= link_to  family, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" do %>
              <i class="bi bi-x-lg" aria-hidden="true"></i>削除
            <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
  </tbody>
</table>