<% if @families.present? %>
    <p>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        必要な備蓄品と量を確認する！
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
      <%= render 'required_stock' %>
      </div>
    </div>
  <% else %>
  <%= render 'manual' %>
<% end %>

<h2>備蓄算出用メンバー</h2>
<%= render 'form' %> 現在メンバーは<%= @families.size %>人です
<table class="table table-striped" >
  <thead>
    <tr>
      <th>名前</th>
      <th>年齢</th>
    </tr>
  </thead>
  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %></td>
        <td><%= image_tag family.icon_image, class: 'icon' %><%= family.age %>歳</td>
        <td>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal<%= family.id %>">
          <i class="bi bi-pencil-fill" aria-hidden="true"></i> 編集
          </button>
          <%= render 'edit', family: family %>  
        </td>
        <td>
            <%= link_to  family, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" do %>
              <i class="bi bi-x-lg" aria-hidden="true"></i>削除
            <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>