<% if @family.errors.any? %>
  <div id="error_explanation">
    <h2><%= @family.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @family.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<figure class="text-center">
  <div class="d-none d-md-block">
    <blockquote class="blockquote"> 
      <%= image_tag "title/member.svg", class: 'display-1' %>
    </blockquote>
  </div>
  <div class="d-block d-md-none">
  <blockquote class="blockquote"> 
    <%= image_tag "title/member_mobile.svg", class: 'display-1' %>
  </blockquote>
</div>
  <figcaption class="blockquote-footer">
    <p>必要備蓄量を計算するためのメンバーを登録しましょう</p>
  </figcaption>
  </figure>
<BR>  <%= render 'manual' unless @families.present? %> <BR>
<% if @families.present? %>
  <a href="families/show" class="btn btn-danger" role="button">必要物資表示</a>
<% end %>
<%= render 'form' %><p> 現在メンバーは<%= @families.size %>人です</p>

<div class="container">
  <div class="row">
    <% @families.each do |family| %>
      <div class="col-md-3 col-sm-6 mb-4"> <!-- mdデバイスで3つ, smで2つ, それ以下のサイズで1つのカードを表示 -->
        <div class="card" style="width: 18rem;">
        <%= image_tag family.icon_image, class: 'icon',class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">名前：<%= family.name %></h5>
            <p class="card-text">年齢：<%= family.age %>歳</p>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal<%= family.id %>">
              <i class="bi bi-pencil-fill" aria-hidden="true"></i> 編集
            </button>
            <%= render 'edit', family: family %>  
            <%= link_to  family, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" do %>
              <i class="bi bi-x-lg" aria-hidden="true"></i>削除
            <% end %>  
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
