<figure class="text-center">
  <blockquote class="blockquote"> 
    <%= image_tag "title/require_stocks.svg", class: 'display-1' %>
  </blockquote>
  <figcaption class="blockquote-footer">
    <p>二週間分の必要備蓄量です</p>
  </figcaption>
  </figure>
<BR><BR>
<%= link_to "メンバーを考慮した必要物資をChat-GPTに聞く β機能", family_path(generate_chat_gpt: "true")%>
<BR>
<%= chat_gpt_text if params[:generate_chat_gpt] %>
<BR><BR>

<%= link_to "必要備蓄量をメールで受け取る", family_path(sent_mail: "true")%>

  <table class="table table-striped" >
  <thead>
    <tr>
      <th>名前</th>
      <th>必要量</th>
      <th>一人当たり必要量</th>
      <th>年齢を考慮した必要量</th>
    </tr>
  </thead>
  <tbody>
  <tr>
  <% @calculate_stocks.each do |key, value| %>
    <tr>
    <td><h3><%= image_tag  value[:画像] , class: 'icon' %><%= key %></h3></td>
      <td><h2><%= value[:計算量] %><small class="text-body-secondary"><%= value[:単位] %></small></h2></td>
      <td><h2><%= value[:一人分] %><small class="text-body-secondary"><%= value[:単位] %></small></h2></td>
      <% total_calculation = value[:一人分] * @coefficient %>
      <td><h2><%= total_calculation.to_i %><small class="text-body-secondary"><%= value[:単位] %></small></h2></td>
    </tr>
  <% end %>
  </tbody>
</table>
その他、調味料インスタント味噌汁や即席スープ、野菜ジュースがあるとよい
https://www.maff.go.jp/j/zyukyu/foodstock/attach/pdf/guidebook-3.pdf<BR>
<a href="families" class="btn btn-primary"  role="button" >戻る</a>