<h1>Guardian</h1>

<h4>必要物資量の確認</h4>

<table class="table table-striped" >
<thead>
  <tr>
    <th>名前</th>
    <th>必要量</th>
    <th>一人当たり必要量</th>
    <th>年齢を考慮した必要量</th>
  </tr>
</thead>
<tbody>
<tr>
<% @required_stock.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value[:計算量] %><%= value[:単位] %></td>
      <td><%= value[:一人分] %><%= value[:単位] %></td>
      <td><%= (value[:一人分] * @coefficient).to_i %><%= value[:単位] %></td>
    </tr>
  <% end %>
</tbody>
</table>
その他、調味料インスタント味噌汁や即席スープ、野菜ジュースがあるとよい
https://www.maff.go.jp/j/zyukyu/foodstock/attach/pdf/guidebook-3.pdf